{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="home-wrapper">
    <img class="home-image"
        src="https://res.cloudinary.com/dontkrfjd/image/upload/v1654350313/favpng_customer-relationship-management-business-computer-software-enterprise-resource-planning_p3khdh.png"
        alt="group of people chatting">
    {% if request.user.is_authenticated %}
    <a class="home-button" href="{% url 'dashboard' %}">start working</a>
    {% else %}
    <a class="home-button" href="{% url 'login' %}">start working</a>
    {% endif %}
</div>

{% endblock %}