{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/leads/leads.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading-1">my leads</h1>
<hr>
<div class="table-wrapper">
    <a class="profile-link" href="{% url 'leads_create' %}">crate a lead</a>

    <div class="table-responsive table-striped">
        <table class="table t-wrapper" id="no-more-tables">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td data-title="First Name">{{ lead.first_name }}</td>
                    <td data-title="Last Name">{{ lead.last_name }}</td>
                    <td data-title="Email">{{ lead.email }}</td>
                    <td data-title="Phone Number">{{ lead.phone_number }}</td>
                    <td data-title="Edit"><a class="text-primary" href="{% url 'leads_update' lead.pk %}">Edit</a></td>
                    <td data-title="Delete"><a class="text-danger" href="{% url 'leads_delete' lead.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<script>
    let messag = document.getElementsByClassName('messages');

setTimeout(function() {
    message.style.display = 'none';
}, 3000);
</script>