{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/leads/leads.css' %}">
{% endblock %}

{% block content %}
<h1>my leads</h1>
<div class="table-wrapper">
    <a class="profile-link" href="{% url 'leads_create' %}">crate a lead</a>

    <div class="table-responsive table-hover">
        <table class="table t-wrapper">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.first_name }}</td>
                    <td>{{ lead.last_name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone_number }}</td>
                    <td><a class="text-primary" href="{% url 'leads_update' lead.pk %}">Edit</a></td>
                    <td><a class="text-danger" href="{% url 'leads_delete' lead.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}