{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>my leads</h1>
<a href="{% url 'leads_create' %}">crate a lead</a>

<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.first_name }}</td>
                    <td>{{ lead.last_name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone_number }}</td>
                    <td><a href="{% url 'leads_update' lead.pk %}">Edit</a></td>
                    <td><a href="{% url 'leads_delete' lead.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}