{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/base/base.css' %}">
{% endblock %}

{% block content %}

<div class="form-wrapper">
    <div class="login-form-wrapper">
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">sign in</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}