{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}">
{% endblock %}

<div class="navbar-wrapper" >
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">BES CRM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" class="active" href="{% url 'dashboard' %}">dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="" href="{% url 'edit_profile' user.pk %}">update profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'leads' %}">leads</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'login' %}">login</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block postloadjs %}
{% endblock %}