{% load static %}

{% block corecss %}
<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}">
{% endblock %}

<div>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">YourLogo</a>
            </div>
            <div class="main_list" id="mainListDiv">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" class="active" href="{% url 'dashboard' %}">dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="" href="{% url 'edit_profile' user.pk %}">update profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'leads' %}">leads</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'login' %}">login</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="media_button">
                <button class="main_media_button" id="mediaButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </nav>
</div>

{% block postloadjs %}
<script>
    var mainListDiv = document.getElementById("mainListDiv"),
        mediaButton = document.getElementById("mediaButton");

    mediaButton.onclick = function () {
        "use strict";

        mainListDiv.classList.toggle("show_list");
        mediaButton.classList.toggle("active");

    };
</script>

{% endblock %}