
body {
    background: white;
    height:100vh;
    color: #285677;
}



/* table css  */

.table-wrapper {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

.profile-link {
    margin: 10px;
    text-decoration: none;
}

.profile-link:hover {
    cursor: pointer; 
}

.profile-link:visited {
    text-decoration: none;
}


/* headings  */

.heading-1 {
    text-align: center;
    margin-top: 50px;
}

hr {
    width: 60%;
    margin: 20px auto;
}

/*----------------------------------------------
media queries
---------------------------------------------*/


@media screen and (max-width: 1179px) {
    .table-wrapper {
        width: 80%;
    }
}
