
body {
    background: white;
    height:100vh;
    color: #285677;
}



/* table css  */

.table-wrapper {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

.profile-link {
    margin: 10px;
    text-decoration: none;
}

.profile-link:hover {
    cursor: pointer; 
}

.profile-link:visited {
    text-decoration: none;
}


/* headings  */

.heading-1 {
    text-align: center;
    margin-top: 50px;
}

hr {
    width: 60%;
    margin: 20px auto;
}


/*------------------------ 
messages  
--------------------------*/

.messages {
    width: 250px;
    margin: 0.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    width: auto;
    background-color:#f9f8f3;
    color: #188639;
    margin: 0.5em auto;
    font-size: 1.5em;
    font-weight: bold;
    list-style-type: none;
    padding: 0.3em;
    border-radius: 1em;
}


/*----------------------------------------------
media queries
---------------------------------------------*/


@media screen and (max-width: 1179px) {
    .table-wrapper {
        width: 80%;
    }
}
