
body {
    background: white;
    height:100vh;
    color: #285677;
}


#navbarSupportedContent {
    margin-left: 100px;
}


/* table css  */

.table-wrapper {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

.profile-link {
    margin: 10px;
    text-decoration: none;
}

.profile-link:hover {
    cursor: pointer; 
}

.profile-link:visited {
    text-decoration: none;
}


/* headings  */

.heading-1 {
    text-align: center;
    margin-top: 50px;
}

hr {
    width: 60%;
    margin: 20px auto;
}


/*------------------------ 
messages  
--------------------------*/

.messages {
    width: 319px;
    margin: 0.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    width: auto;
    background-color:#f9f8f3;
    color: #188639;
    margin: auto;
    font-weight: bold;
    list-style-type: none;
    padding: 0.3em;
    border-radius: 3px;
}

.info {
    width: auto;
    background-color:#f9f8f3;
    color: #9c0d0d;
    margin: 0.5em auto;
    font-weight: bold;
    list-style-type: none;
    padding: 0.3em;
    border-radius: 3px;
}


/*----------------------------------------------
media queries
---------------------------------------------*/


@media screen and (max-width: 1179px) {
    .table-wrapper {
        width: 80%;
    }
}

@media only screen and (max-width:800px) {
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td {
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
        font-size: 12px;
    }
    #no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }
}
