{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="heading-1">Hello {{user.username}}</h1>
<hr>
<div class="dashboard-container">
    <div class="dashboard-content">
        <a href="{% url 'leads_create' %}" class="dasboard-button">create a lead</a>
        <a href="{% url 'edit_profile' user.pk %}" class="dasboard-button">update profile</a>
    </div>
    <div class="dashboard-content">
        <h2>my details</h2>
        <div class="dashboard-details-wrapper">
            <span class="dashboard-details">first name: {{user.first_name}}</span>
            <span class="dashboard-details">last name: {{user.last_name}}</span>
            <span class="dashboard-details">email: {{user.email}}</span>
        </div>
    </div>
</div>


{% endblock %}