{% extends 'base.html' %}

{% block title %}edit profile{% endblock %}

{% load static %}



{% block content %}
<h1 class="heading-1">Update your profile</h1>
<hr>
<div class="update-form-wrapper">
    <div class="update-form-inner-wrapper">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="login-button" type="submit">update profile</button>
            </div>
        </form>
        <div class="update-form-links-wrapper">
            <a class="profile-link text-primary" href="{% url 'change_password' %}">change password</a>
            <a class="profile-link text-danger" href="{% url 'delete_profile' user.pk %}">delete profile</a>
        </div>
    </div>
</div>

{% endblock %}