{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BES CRM</title>


{% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
{% endblock %}
</head>

<body>


<!-- includes navbar -->
{% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>